.body {
  padding-top: 10em;
  font-family: "Inter", sans-serif;
  padding-bottom: 10em;
}
.body h1 {
  font-weight: 600;
  font-size: 48px;
}

.body p,
li {
  font-weight: 400;
  font-size: 24px;
}

.body .announcement {
  background: #ffb814;
  font-size: 36px;
  font-weight: 400;
  padding: 0em 0.5em 0em 0.5em;
}
